<!--
 * @Author: longfengpili
 * @Date: 2019-09-08 13:55:55
 * @LastEditTime: 2019-09-12 08:03:53
 * @coding: 
* #!/usr/bin/env python
* # -*- coding:utf-8 -*-
 * @github: https://github.com/longfengpili
 -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>index</title>
    {% endblock %}
</head>

<body>

    <div style="text-align:center;">
        <img src="{{ url_for('static',filename='admin/images/welcome.jpg')}}" style="display: inline-block;"/>
    </div>

    <div style="width:100%;text-align:center;">
        {% block action %}
        <form action="search"  method='GET'>
        {% endblock%}
            
            <input name="url" type="text" value='' placeholder='请填写查询的电视剧名称' style="height: 50px;width: 500px;">
            <select name="source" style="height: 50px;width: 50px;">
                <option value="0">0</option>
                <!-- <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected='selected'>3</option> -->
            </select>
            <input type="submit" style="margin-top:20px;height: 50px;" />
        </form>
    </div>

    {% block show %}
    <div>
        <h1 align='center'>{{title}}</h1>
    {% if all_episode %}
    <table border="1px" align="center" cellspacing="0" cellpadding="6" width="1148" ;>
        <tr>
            <th>集</th>
            <th>链接</th>
        </tr>
        
        {% for episode in all_episode %}
            <tr>
                <td align="center">{{episode.title}}</td>
                <td align="center"><a href="{{episode.url}}" target="_blank">clickme</a></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    </div>
    {% endblock %}

</body>

</html>