<!--
 * @Author: longfengpili
 * @Date: 2019-09-08 13:55:55
 * @LastEditTime: 2019-09-12 08:05:39
 * @coding: 
* #!/usr/bin/env python
* # -*- coding:utf-8 -*-
 * @github: https://github.com/longfengpili
 -->

 {% extends "admin/layout.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>show</title>
    {% endblock %}
</head>

<body>

    <div style="width:100%;text-align:center;">
        {% block action %}
        <form action=""  method='GET'>
        {% endblock %}
        </form>
    </div>

    {% block videolist %}{{ super() }}{% endblock %}

</body>

</html>