<!--
 * @Author: longfengpili
 * @Date: 2019-09-08 13:55:55
 * @LastEditTime: 2019-09-20 08:00:26
 * @coding: 
* #!/usr/bin/env python
* # -*- coding:utf-8 -*-
 * @github: https://github.com/longfengpili
 -->

{% extends "admin/layout.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>show</title>
    {% endblock %}
</head>

<body>

    {% block video %}
    {{ super() }}
    {% endblock %}

    <div style="width:100%;text-align:center;">
        {% block action %}
        <form action="" method='GET'>
            {% endblock %}
        </form>
    </div>

    {% block show %}
    <div>
        {% if episodes %}
        <table border="1px" align="center" cellspacing="0" cellpadding="6" width="1148" ;>
            <tr>
                <th>集</th>
                <th>链接</th>
            </tr>

            {% for episode in episodes %}
            <tr>
                <td align="center">{{episode.title}}</td>
                <td align="center"><a href="{{url_for('admin.show', url=episode.url, src=episode.src, api_id=episode.api_id)}}">clickme</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    {% endblock %}

</body>

</html>