<!--
 * @Author: longfengpili
 * @Date: 2019-09-16 07:13:12
 * @LastEditTime: 2019-09-16 07:53:11
 * @github: https://github.com/longfengpili
 -->
{% extends "admin/layout.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>video</title>
    {% endblock %}
</head>

<body>
    {% block video %}
    {{ super() }}
    {% endblock %}

    <div style="width:100%;text-align:center;">
        {% block action %}
        <form action="" method='GET'>
            {% endblock %}
        </form>
    </div>

    {% block show %}
    <div>
        <h1 align='center'>{{title}}</h1>
        {% if all_episode %}
        <table border="1px" align="center" cellspacing="0" cellpadding="6" width="1148" ;>
            <tr>
                <th>集</th>
                <th>链接</th>
            </tr>

            {% for episode in all_episode %}
            <tr>
                <td align="center">{{episode.title}}</td>
                <td align="center"><a href="{{episode.url}}" target="_blank">clickme</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    {% endblock %}

</body>

</html>